div
    h3(style="font-weight:200"
    ng-if="!model.tab || model.tab.length === 0") Carousel

    .carousel.slide(data-ride='carousel',
    id="carousel")
        // Indicators
        ol.carousel-indicators
            li(
            data-target='#carousel'
            data-slide-to='{{$index}}'
            ng-repeat="tab in model.tab track by $index"
            class="{{::tab.active?'active':''}}")
        // Wrapper for slides
        .carousel-inner(role='listbox')
            .item(
            ng-repeat="tab in model.tab track by $index"
            class="{{::tab.active?'active':''}}")
                img(ng-if='tab.img'
                ng-src='{{serverFn.link(tab.img.src)}}'
                alt='{{tab.img.alt}}')
                .carousel-caption(ng-bind="tab.text")
        // Controls
        a.left.carousel-control(
        href='#carousel',
        role='button',
        ng-non-bindable
        data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
        a.right.carousel-control(
        href='#carousel',
        role='button',
        ng-non-bindable
        data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next